video {
    transform: rotateY(180deg); 
}
body{
    margin: 10px;         
}

#videoGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-auto-rows: 300px;
    margin: 10px;
    grid-gap: 10px;
}

.videoContainer {
    width: 300px;
    height: 350px;
}

video {
    width: 300px;
    height: 300px;
}
